/* .record-button {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    
  }
  
  .record-button:hover {
    background-color: #00b392;
  }
  
  .nutrition-overview .error {
    color: red;
  } */
  