/* .tiles {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
} */

/* .landing-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* align-items: flex-start; Adjust vertical alignment to flex-start */
  /* padding-top: 50px; Increase top padding to move the hero up */
/* }

.hero-image {
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.landing-content {
  text-align: center;
  color: white;
}

.landing-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 16px;
}

.landing-description {
  font-size: 20px;
}

.image-grid {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.image-container {
  max-width: 200px;
  margin: 0 10px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}
 */

 .landing-page {
  text-align: center;
}

.hero-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  position: relative;
  color: white;
  max-width: 50%;
  padding: 100px;
  margin-left: 300px;
  border-radius: 10px;
  margin-top: 40px;


}

.landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.landing-title {
  font-size: 4em;
}

.landing-description {
  font-size: 1.5em;
}

.image-grid {
  display: flex;
  justify-content: center;
  margin: 40px 0;
  
}

.image-container {
  margin: 0 10px;
  text-align: center;
}

.content-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s; /* This line is important for smooth hover effect */
}

/* Hover effect for image */
.content-image:hover {
  transform: scale(1.05); /* Scale the image up to 105% of the original size */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
}

.image-label {
  margin-top: 10px;
  font-size: 1.2em;
}

